/*
Name: Connor McGrory
Email: Connor_McGrory@student.uml.edu
Date: December 6, 2016
For: GUI Programming I, UMass Lowell
Assignement No. 9
*/

h1, h3 {
  text-align: center;
}

#myLetters {
  width: 500px;
  height: 75px;
  background-image: url('../images/rack.png');
  background-size: 100% 100%;
}

#myLetters, #board {
  text-align: center;
  margin: auto;
}

img {
  width: 50px;
  height: 50px;
}

#scoreDiv {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}
